/* This is where the Google font is added */

@font-face {
  font-family: googleSans;
  src: url(GoogleSans-Regular.ttf);
}

@font-face {
  font-family: googleSans;
  src: url(GoogleSans-Bold.ttf);
  font-weight: bold;
}

/* This is the styling */

* {
  font-family: googleSans;
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 19px;
}

#boxcorn {
  text-align: center;
  padding: 5px;
  border-radius: 25px;
  margin: auto;
}

.mainbox {
  background-color: #e8f0fe;
  width: 50%;
}

.textbox {
  background-color: #188038;
  color: #d4e8da;
  width: 28%;
}

.inlinea {
  display: inline;
}
