@font-face {
  font-family: googleSans;
  src: url(GoogleSans-Regular.ttf);
}

@font-face {
  font-family: googleSans;
  src: url(GoogleSans-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: googleSans;
  float: center;
}
